#General

#Droid-Serif-Font
$font-italic:"/vendor/Droid-Serif-Font/DroidSeriff-Italic";
$font-regular:"/vendor/Droid-Serif-Font/DroidSeriff-Regular";
$font-bold:"/vendor/Droid-Serif-Font/DroidSeriff-Bold.ttf";

#Display

#first-page

.menu-list {
        li {
            display: inline;
            list-style-type: none;
        }
  }

.menu-link {
    display: inline;
    color: white;
    font: $font-regular;
}

#services-page

#portfolio-page

.portfolio-image {
    position: relative;
    width: 291px;
    height: 300px;
    overflow: hidden;
}

.portfolio-file {
    position: absolute;
    width: auto;
    height: auto;
}

#Footer

footer {
    display: flex;

}

.socials {
    display: inline-block;

}

#Navigation

#Various